<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <style>
      @media screen {
        @font-face {
          font-family: "Source Sans Pro";
          font-style: normal;
          font-weight: 400;
          src: local("Source Sans Pro Regular"), local("SourceSansPro-Regular"),
            url(https://fonts.gstatic.com/s/sourcesanspro/v10/ODelI1aHBYDBqgeIAH2zlBM0YzuT7MdOe03otPbuUS0.woff)
              format("woff");
        }

        @font-face {
          font-family: "Source Sans Pro";
          font-style: normal;
          font-weight: 700;
          src: local("Source Sans Pro Bold"), local("SourceSansPro-Bold"),
            url(https://fonts.gstatic.com/s/sourcesanspro/v10/toadOcfmlt9b38dHJxOBGFkQc6VGVFSmCnC_l7QZG60.woff)
              format("woff");
        }
      }
      /* Inline CSS for styling */
      body {
        background-color: #f5f5f5;
        padding: 20px;
      }

      .container {
        max-width: 350px;
        margin: auto;
        padding: 60px;
        background-color: #ffffff;
        border: 1px solid #dddddd;
        border-radius: 5px;
      }

      h1 {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        color: #3fba00;
        margin: 0 0 12px 0;
      }

      p {
        font-size: 16px;
        color: #464f60;
        font-style: normal;
        font-weight: normal;
        line-height: 24px;
        text-decoration: none;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <h1>Client Details</h1>
      <p>
        Hello
        <strong style="text-decoration: none">Waqas Sarwar</strong> please find
        your client details below.
      </p>
      <p><strong>Client Name</strong></p>
      <a class="light_button" style="text-decoration: none; color: #3fba00">
        <%=name %>
      </a>

      <p><strong> Client Company Name </strong></p>
      <a class="light_button" style="text-decoration: none; color: #3fba00">
        <%=companyName %>
      </a>
      <p><strong> Client Budget </strong></p>
      <a class="light_button" style="text-decoration: none; color: #3fba00">
        <%=budget %>
      </a>
      <p><strong> Service Required </strong></p>
      <a class="light_button" style="text-decoration: none; color: #3fba00">
        <%=service %>
      </a>
      <p><strong> Client Message </strong></p>
      <a class="light_button" style="text-decoration: none; color: #3fba00">
        <%=message %>
      </a>
      <br />
      <br />
      <p>Thank you, have a wonderful day!</p>
    </div>
  </body>
</html>
